root = true

# Unix-style line endings, newline ending in every file, trim trailing whitespace
[*]
end_of_line              = lf
insert_final_newline     = true
trim_trailing_whitespace = true
charset = utf-8
indent_style = space

# Tabs
[*.{html,css,scss}]
indent_size = 2

# Indents
[*.php]
indent_size  = 4
